{% extends "base.html" %}

{% block content %}

    <title>Blogz</title>

    <form action="/login" method="post">

      <table>
        <tr>
          <td>
            <label for="username"> Username: </label>
          </td>
          <td>
            <input name="username" value="{{ username }}" type="text">
            <span class="error"> {{ u_error }} </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="password"> Password: </label>
          </td>
          <td>
            <input name="password" type="password">
            <span class="error"> {{ p_error }} </span>
          </td>
        </tr>
      </table>
      <input type="submit" value="LogIn">
    </form>
    <p>Don't have an account? <a href="/signup"> Make one now!</a></p>

{% endblock %}
