{% extends "base.html" %}

{% block content %}

    <form method='POST'>
        <label>Title:
            <br>
            <input type="text" name="title" value='{{ title }}'/>
        </label>
        <p class="error">{{ t_blank }}</p>
        <label>Post:
            <br>
            <textarea name="body" style="width:540px; height:125px;">'{{ body }}'</textarea>
        </label>
        <p class="error">{{ b_blank }}</p>
        <input type="submit" value="Add Post" />
    </form>

{% endblock %}
