{% extends "base.html" %}

{% block content %}

    <h1>Blogz</h1>

    <form method='POST'>
        <label>Title:
            <br>
            <input type="text" name="title" value="{{ blog_title }}">
        </label>
        <p class="error">{{ t_error }}</p>
        <label>Post:
            <br>
            <textarea name="body" style="width:540px; height:125px;">{{ blog_body }}</textarea>
        </label>
        <p class="error">{{ b_error }}</p>
        <input type="submit" value="Add Post" />
    </form>

{% endblock %}
