{% extends "base.html" %}

{% block content %}

  <h1>Blogz</h1>

  <table>
    <thead>
      <td>
        <p><b>Title:</b></p>
      </td>
      <td>
        <p><b>Body:</b></p>
      </td>
    </thead>
  {% for blog in blogs %}
    <form id= "each_blog" action= "singlepost">
      <tr>
        <td>
          <input form= "each_blog" type= "submit"
                class= "link_button" name= "blog_title"
                value= "{{ blog.title }}"/>
        </td>
          {{ blog.body }}
      </tr>
    </form>
  {% endfor %}

  </table>

{% endblock %}
